@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

/* Styles généraux */
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #F3F5F8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #676a6d;
}

/* Links */
a {
  color: #3287B2;
}
a:hover, a:focus {
  color: #3b98c8;
  text-decoration: none;
}

/* Lines */
th {
  font-weight: 600;
}

/* Top content title */
.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

/* Icons */
.icon {
  width: 1em;
  height: 1em;
  margin-top: -0.07em;
  pointer-events: none;
  transition: 0.5s ease;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* Copyright */
.copyright {
  margin-bottom: 0;
  text-align: right;
  font-size: 13px;
}

/* Wrappers */
#wrapper .sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #2B333E;
  position: fixed;
  left: 0;
  padding-top: 10px;
}
#wrapper .main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 260px);
  left: 0;
  position: relative;
  float: right;
  background-color: #f5f5fa;
}

/* Main content padding */
.main-content {
  padding: 28px 10px;
}

/* Classe layout-fullwidth */
.layout-fullwidth #wrapper .sidebar {
  left: -260px;
}

.layout-fullwidth #wrapper .main {
  width: 100%;
}

.layout-fullwidth #wrapper .btn-toggle-fullwidth {
  color: #00AAFF;
}

/* Change sidebar display on window resize */
.offcanvas-active #wrapper .sidebar {
  left: 0;
}
.offcanvas-active #wrapper .main {
  width: 100%;
  position: relative;
  left: 260px;
}

/* Retract sidebar button */
.navbar-btn {
  float: left;
  padding: 16px 0;
}
.navbar-btn button {
  font-size: 24px;
  padding: 4px 8px;
  line-height: .7;
  border: none;
  background: none;
  outline: none;
}

/* Sidebar */
.sidebar {
  z-index: 9;
}
.sidebar .nav > li > a {
  padding: 18px 30px;
  color: #AEB7C2;
  border-left: 5px solid transparent;
}
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
  color: #fff;
  background-color: transparent;
}
.sidebar .nav > li > a:hover i, .sidebar .nav > li > a:focus i, .sidebar .nav > li > a.active i {
  color: #00AAFF;
}
.sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
  background-color: #252c35;
  border-left-color: #00AAFF;
}
.sidebar .nav > li > a[data-toggle="collapse"] .icon-submenu {
  vertical-align: middle;
  vertical-align: auto;
  display: inline;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  float: right;
  position: relative;
  top: 5px;
  font-size: 12px;
  line-height: 1.1;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar .nav > li > a[data-toggle="collapse"].collapsed .icon-submenu {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.sidebar .nav > li > a .badge {
  font-weight: 400;
  background-color: #F9354C;
}
.sidebar .nav i {
  margin-right: 10px;
  font-size: 18px;
}
.sidebar .nav span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: -1px;
}
.sidebar .nav .nav {
  background-color: #252c35;
}
.sidebar .nav .nav > li > a {
  padding: 10px 0 10px 20px;
}
.sidebar .nav .nav > li > a:focus, .sidebar .nav .nav > li > a.active {
  background-color: transparent;
  border-left-color: transparent;
}
.sidebar .nav .nav > li > a.active a {
  color: #fff;
}

/* Main content */
.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin-bottom: 30px;
}
.panel .panel-heading,
.panel .panel-body,
.panel .panel-footer {
  padding-left: 25px;
  padding-right: 25px;
}
.panel .panel-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.panel .panel-heading .panel-title {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
.panel .panel-heading button {
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}
.panel .panel-heading button i {
  font-size: 14px;
}
.panel .panel-body {
  padding-top: 10px;
  padding-bottom: 15px;
}
.panel .panel-note {
  font-size: 13px;
  line-height: 2.6;
  color: #777777;
}
.panel .panel-note i {
  font-size: 16px;
  margin-right: 3px;
}
.panel .right {
  position: absolute;
  right: 20px;
  top: 32%;
}

/* Style for badges */
.label {
  font-weight: 600;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Version Mobile */
@media (min-width: 768px) {
  .navbar-nav.navbar-right { margin-right: 0; }
}

@media (max-width: 1024px) {
  .navbar-nav {
    width: 100%;
    margin: 0;
  }
  .navbar-nav > li {
    display: table-cell;
    width: 1%;
    text-align: center;
  }
  .navbar-nav > li > a {
    padding: 15px 20px;
  }
  .navbar-nav .open .dropdown-menu {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: absolute;
    width: 100%;
    background-color: #fff;
    margin-top: 3px;
  }
  #wrapper .sidebar { left: -260px; }
  #wrapper .main { width: 100%; }
  #wrapper .navbar { left: 0 !important; }
}

@media (max-width: 1270px) {
  .auth-box { width: 90%; }
  .auth-box .left { top: 3em; }
}

@media (max-width: 767px) {
  .navbar + .main-content { padding-top: 150px; }
  #wrapper #sidebar { padding-top: 20px; }
  #wrapper .main { padding-top: 0; }
  .auth-box { width: 90%; }
  .auth-box .content { width: 95%; }
}
