/* - - - - - - - API - - - - - - - */

/* ----- API Endpoint ----- */

.api-endpoint {
    font-family: var(--font-mono);
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    margin: 12px 0;
    gap: 10px;
}
.api-endpoint a,
.api-endpoint .path {
    color: var(--vp-c-text-2);
    text-decoration: none;
    font-weight: 500;
}
.api-endpoint a:hover {
    color: var(--vp-c-brand-1);
}

/* ----- Request block ----- */

.request-block-header {
    background: var(--vp-c-bg-mute);
    font-family: var(--font-mono);
    font-size: 13px;
    flex-wrap: wrap;
}
.request-block-content {
    padding: 16px;
}
.request-block-content pre {
    background: #0000;
    line-height: 1.6;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
.request-block-content code {
    font-family: var(--font-mono);
}
.request-block-header .title {
    color: var(--vp-c-text-1);
    font-weight: 500;
}
