/* - - - - - - - Examples - - - - - - - */

.examples {
    margin: 16px 0;
}

.examples-header {
    justify-content: space-between;
    align-items: center;
}

.examples-tabs {
    display: flex;
}

.examples-copy {
    color: var(--vp-c-text-3);
    justify-content: center;
    background: transparent;
    transition: all 0.2s;
    align-items: center;
    cursor: pointer;
    display: flex;
    border: none;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-right: 8px;
    border-radius: 4px;
}
.examples-copy:hover {
    background: var(--vp-c-bg-soft);
    color: var(--vp-c-brand-1);
}

.examples-copy .copy,
.examples-copy .check {
    color: var(--vp-c-text-3);
}
.examples-copy:hover .copy {
    color: var(--vp-c-brand-1);
}

.examples .code-output code {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}
