/* - - - - - - - Pricing - - - - - - - */

/* ----- Badge ----- */

.badge {
    background: var(--vp-c-brand-1);
    text-transform: uppercase;
    position: absolute;
    color: white;
    padding: 0 8px;
    top: 0;
    right: 0;
    font-size: 9px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* ----- Card ----- */

.pricing-card {
    border: 1px solid var(--vp-c-divider);
    background: var(--vp-c-bg-soft);
}
.pricing-card:hover {
    border-color: var(--vp-c-brand-1);
}
.pricing-card.recommended {
    border: 2px solid var(--vp-c-brand-1);
    position: relative;
}

/* ----- Price ----- */

.pricing-price span {
    color: var(--vp-c-text-2);
    font-size: 0.8rem;
    font-weight: normal;
}

/* ----- Features ----- */

.pricing-features li {
    border-bottom: 1px solid var(--vp-c-divider);
    color: var(--vp-c-text-2);
    font-size: 0.8rem;
    padding: 0.3rem 0;
}
.pricing-features li:last-child {
    border-bottom: none;
}
.pricing-features strong {
    color: var(--vp-c-text-1);
}

/* ----- Button ----- */

.pricing-button {
    background: var(--vp-c-bg-mute);
    border: 1px solid var(--vp-c-divider);
    color: var(--vp-c-text-1) !important;
    text-decoration: none !important;
    transition: all 0.2s !important;
}
.pricing-button:hover {
    background: var(--vp-c-brand-soft);
    border-color: var(--vp-c-brand-1);
}
.pricing-card.recommended .pricing-button {
    border-color: var(--vp-c-brand-1);
    background: var(--vp-c-brand-1);
    color: white !important;
}
.pricing-card.recommended .pricing-button:hover {
    background: var(--vp-c-brand-2);
}
