/* - - - - - - - Global - - - - - - - */

/* ----- Base ----- */

* {
    scrollbar-color: var(--vp-c-divider) transparent;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body { font-family: 'Inter', 'Segoe UI', sans-serif; }

/* ----- Search input ----- */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none !important;
    appearance: none;
}

/* ----- Scrollbar ----- */

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb {
    background: var(--vp-c-divider);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover { background: var(--vp-c-text-3); }

/* ----- Badge ----- */

.badge {
    background: var(--vp-c-brand-1);
    text-transform: uppercase;
    position: absolute;
    color: white;
    padding: 0 8px;
    top: 0;
    right: 0;
    font-size: 9px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* ----- 404 Page ----- */

.not-found {
    text-align: center;
    padding: 64px 24px 96px;
}

.not-found .code {
    color: var(--vp-c-text-1);
    line-height: 64px;
    font-weight: 600;
    font-size: 64px;
}

.not-found .title {
    letter-spacing: 2px;
    line-height: 20px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 20px;
}

.not-found .quote {
    color: var(--vp-c-text-2);
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    max-width: 560px;
    line-height: 20px;
    padding-top: 28px;
}

.not-found .link {
    border: 1px solid var(--vp-c-brand-1);
    color: var(--vp-c-brand-1);
    display: inline-block;
    transition: all 0.3s;
    border-radius: 1rem;
    padding: 6px 20px;
    margin-top: 28px;
    font-weight: 500;
    font-size: 14px;
}
.not-found .link:hover {
    border-color: var(--vp-c-brand-2);
    color: var(--vp-c-brand-2);
}